<!--<div class="wrapper">
  <div>
    <div>
      <label for="exhibitionName">Utställningsnamn</label>
      <input 
        type="text" 
        id="exhibitionName" 
        name="exhibitionName" 
        [(ngModel)]="exhibitionName" 
        autocomplete="off"
      >
    </div>
  </div>

  <div>
    <div>
      <label for="exhibitionDateStart">Start</label>
      <input 
        type="datetime-local" 
        id="exhibitionDateStart" 
        name="exhibitionDateStart"
        [(ngModel)]="exhibitionDateStart" 
      >
    </div>
    <div>
      <label for="exhibitionDateEnd">Avslutas</label>
      <input 
        type="datetime-local" 
        id="exhibitionDateEnd" 
        name="exhibitionDateEnd"
        [(ngModel)]="exhibitionDateEnd" 
      >
    </div>
  </div>

  <div>
    <div>
      <label for="exhibitionOrganizer">Arrangör</label>
      <input 
        type="text" 
        id="exhibitionOrganizer" 
        name="exhibitionOrganizer" 
        [(ngModel)]="exhibitionOrganizer" 
        autocomplete="off"
      >
    </div>
  </div>

  <div>
    <div>
      <label for="exhibitionDescription">Beskrivning</label>
      <textarea 
        id="exhibitionDescription" 
        name="exhibitionDescription" 
        [(ngModel)]="exhibitionDescription" 
        rows="5"
        style="resize: none;"
      ></textarea>
    </div>
  </div>

  <div>
    <div>
      <label for="exhibitionPhoto">Ladda upp bilder</label>
      <div>
        <input 
          type="file" 
          id="exhibitionPhoto" 
          accept="image/*" 
          (change)="onPhotoSelected($event)">
        <label for="exhibitionPhoto">Välj filer</label>
      </div>
    </div>
  </div>

  <div *ngIf="previewImage">
    <img 
      [src]="previewImage" 
      alt="Förhandsvisning"
    />

    <div>
      <div>
        <label for="artDescription">Beskrivning</label>
        <textarea 
          id="artDescription" 
          name="artDescription" 
          [(ngModel)]="artDescription" 
          rows="5"
          style="resize: none;"
        ></textarea>
      </div>
    </div>
  </div>  

  <div>
    <button (click)="onCancelClick()">Avbryt</button>
    <button (click)="uploadEvent()">Ladda upp</button>
  </div>
</div> -->

<div class="wrapper">
  <section class="row">
    <label for="exhibitionName">Utställningsnamn</label>
    <input 
        type="text" 
        id="exhibitionName" 
        name="exhibitionName" 
        [(ngModel)]="exhibitionName" 
        autocomplete="off">
  </section>

  <section class="row">
    <label for="exhibitionOrganizer">Arrangör</label>
    <input 
      type="text" 
      id="exhibitionOrganizer" 
      name="exhibitionOrganizer" 
      [(ngModel)]="exhibitionOrganizer" 
      autocomplete="off">
  </section>

  <section class="row-date">
    <div>
      <label for="exhibitionDateStart">Start</label>
      <input 
        type="datetime-local" 
        id="exhibitionDateStart" 
        name="exhibitionDateStart"
        [(ngModel)]="exhibitionDateStart">
    </div>

    <div>
      <label for="exhibitionDateEnd">Avslutas</label>
      <input 
        type="datetime-local" 
        id="exhibitionDateEnd" 
        name="exhibitionDateEnd"
        [(ngModel)]="exhibitionDateEnd">
    </div>
  </section>

  <section class="row">
    <label for="exhibitionDescription">Utställnings beskrivning</label>
    <textarea 
      id="exhibitionDescription" 
      name="exhibitionDescription" 
      [(ngModel)]="exhibitionDescription" 
      rows="5"
      style="resize: none;"></textarea>
  </section>

  <section class="row-choosephoto" *ngIf="!previewImage">
    <label for="exhibitionPhoto">Välj bild för uppladdning</label>
    <input 
        type="file" 
        id="exhibitionPhoto" 
        accept="image/*" 
        (change)="onPhotoSelected($event)">
  </section>

  <section class="preview-image" *ngIf="previewImage">
    <div class="title">
      <label>Vald bild</label>
    </div>
    <img 
      [src]="previewImage" 
      alt="Förhandsvisning"/>

    <div class="input-row">
      <section class="row">
        <label for="artworkName">Konstverks namn</label>
        <input 
            type="text" 
            id="artworkName" 
            name="artworkName" 
            [(ngModel)]="artworkName" 
            autocomplete="off">
      </section>

      <section class="row">
        <label for="artDescription">Konstverks beskrivning</label>
        <textarea 
          id="artDescription" 
          name="artDescription" 
          [(ngModel)]="artDescription" 
          rows="5"
          style="resize: none;"></textarea>
      </section>

    </div>

    <div class="button-row">
      <!--<button (click)="removeImage()">Ta bort bild</button>-->
      <button (click)="uploadImage()" (click)="onPhotoSelected($event)">Ladda upp bild</button>
    </div>
  </section>

  <section class="upload-container">
    <div *ngFor="let artwork of artworks" class="image-card">

      <i class="pi pi-times" (click)="removeImage(artwork)"></i>

      <img 
        [src]="artwork.url" 
        alt="Förhandsvisning" 
        class="preview-img"
      />
      <div class="artwork-info">
        <h3>{{artwork.name}}</h3>
      </div>
    </div>
  </section>
  

  <section class="button-row">
    <button (click)="uploadEvent()">Ladda upp uppställning</button>
    <button (click)="cancelUpload()">Avbryt</button>
  </section>
</div>
