.welomeTitle {
  font-weight: normal;
}

.hero {
  .hero-content {
    background-image: url('/assets/homepage.png');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding: 6rem 1rem;
    text-align: center;
    color: white;
    border-radius: 30px;
    font-family: "Manrope", sans-serif;
  }
}

.section {
  padding: 3rem 1rem;

  h2 {
    color: #081235;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2em;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
  }
}

.about {
  background-color: #F8F8F8;
  text-align: center;
  padding: 4rem 2rem;
  color: #081235;
  font-size: 1.1rem;
  border-radius: 1rem;
  font-family: "Manrope", sans-serif;
}

.welcomeMessage {
  margin-top: 20px;
  font-family: "Manrope", sans-serif;
}

.artist-circle-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
  margin-top: 2rem;
  font-family: "Manrope", sans-serif;
}

.artist-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
    margin-bottom: 0.5rem;
  }

  .artist-info {
    h3 {
      font-size: 1rem;
      margin: 0;
      color: #0B2135;
      font-family: "Manrope", sans-serif;
    }

    p {
      font-size: 0.9rem;
      color: #515151;
      margin: 0;
    }
  }
}

.events {
  gap: 5rem;
  display: flex;
  justify-content: center;
}

.event-card {
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  width: auto;

  &:hover {
    transform: translateY(-5px);
  }

  .event-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .event-info {
    padding: 1rem;
    text-align: center;

    h3 {
      font-size: 1.1rem;
      margin: 0.5rem 0 0.2rem;
      color: #081235;
    }

    p {
      font-size: 0.95rem;
      color: #081235;
      margin: 0 0 1rem;
    }
  }
}

button {
  margin-top: 10px;
  border-radius: 30px;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.p-button-warn{
  width: 6vw;
}

