<p-panel class="hero" header="" [toggleable]="false">
  <div class="hero-content">
    <h1 class="welomeTitle">Välkommen till Tornedalen Konsthall</h1>
    <p class="welcomeMessage">En plats där konst och natur möts.</p>
    <button pButton type="button" severity="warn" (click)="goToExhibition()" class="exploreButton">Utforska Utställningar</button>
  </div>
</p-panel>

<section class="section">
  <h2>Kommande Evenemang</h2>
  <div class="p-grid events">
    <div class="p-col-12 p-md-6">
      <p-carousel
        [value]="Events"
        [showNavigators]="false"
        [numVisible]="1"
        [numScroll]="1"
        [verticalViewPortHeight]="'auto'"
        contentClass="flex flex-col items-center"
      >
        <ng-template let-event #item>
          <div class="event-card p-4 border rounded shadow-sm text-center">
            <img [src]="event.image" [alt]="event.title" class="event-img mb-3" />
            <div class="event-info">
              <h3>{{ event.title }}</h3>
              <p>{{ event.date }}</p>
              <button pButton type="button" label="Läs mer..." class="p-button-warning p-button-sm mt-2" severity="warn"></button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>

<section class="section">
  <h2>Konstnärer i Fokus</h2>
  <div class="artist-circle-row">
    <div class="artist-profile">
      <img src="assets/artist1.jpg" alt="Anna Karisson">
      <div class="artist-info">
        <h3>Anna Karisson</h3>
        <p>Ergonomisk Konst.</p>
      </div>
    </div>
    <div class="artist-profile">
      <img src="assets/artist2.jpg" alt="Erik Lindström">
      <div class="artist-info">
        <h3>Erik Lindström</h3>
        <p>Ai Konstnär.</p>
      </div>
    </div>
    <div class="artist-profile">
      <img src="assets/artist3.jpg" alt="Maria Sjoberg">
      <div class="artist-info">
        <h3>Martin Sjoberg</h3>
        <p>Naturkonst.</p>
      </div>
    </div>
  </div>
</section>


<section class="section about">
  <h2>Om Tornedal Konsthall</h2>
  <p>
    Tornedal Konsthall är en plats i norden är den storslagna nordiska naturuen sluts samman med konst för att skapa en unik upplevelse.  </p>
</section>
