<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<footer>
    <section class="upper">
        <div class="left">
            <h2><a [routerLink]="homeLink">Konsthall Tornedalen</a></h2>
        </div>
        <div class="right">
            <p>Kolla in våra sociala medier:</p>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-x-twitter fa-2x"></i></a>
              </div>
        </div>
    </section>
</footer>