<footer>
    <section class="upper">
        <div class="left">
            <h2><a [routerLink]="homeLink">Konsthall Tornedalen</a></h2>
        </div>
        <div class="right">
            <p>Kolla in våra sociala medier:</p>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank"><i class="pi pi-facebook" style="font-size: 28px;"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="pi pi-instagram" style="font-size: 26px;"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="pi pi-twitter" style="font-size: 26px;"></i></a>
              </div>
        </div>
    </section>
</footer>