/* You can add global styles to this file, and also import other style files */
:root {
  --kh-primary-color: #6AB589;
  --kh-secondary-color: #4A635D;
  --kh-complement-color: #F0A05A;
  --kh-light-border-color: #CCCCCC;
  --scroll-bar-width: 15px;
  --main-padding: 100px;
  --header-footer-margin: calc(var(--main-padding) / 2);
  --p-form-field-float-label-focus-color: red;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 0 var(--main-padding);
  height: calc(100dvh - 60px);
  margin-top: 60px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

// Lite reset CSS
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
