<div class="kh-forms">
  <div class="forms-overlay">
    <div class="button-group">
      <button class=".large-button"
        pButton
        type="button"
        label="Skapad Konst"
        icon="pi pi-file-edit"
        class="p-button-warning large-button"
              severity="warn"
        (click)="goToPosts()">
      </button>

      <button
        pButton
        type="button"
        label="Skapad Konst"
        icon="pi pi-file-edit"
        class="p-button-warning large-button" severity="warn">
      </button>
    </div>
  </div>
</div>
