<main>
    <section class="title">
      <h2>Utställningar</h2>
    </section>
  
    <section class="buttons">
        <div class="left">
            <button 
            [ngClass]="{'active': filter === 1}" 
            (click)="applyFilter(1)">Kommande</button>
            <button 
            [ngClass]="{'active': filter === 2}" 
            (click)="applyFilter(2)">Avklarade</button>
            <button 
            [ngClass]="{'active': filter === 3}" 
            (click)="applyFilter(3)">Alla</button>
            <button 
            class="createEvent" *ngIf="role === 4"
            (click)="panelShow()">
              <i class="pi pi-plus"></i>
            </button>
        </div>
        
        <div class="right">
            <div class="paginator">
                <button (click)="previousPage()" [disabled]="currentPage === 1">
                <i class="pi pi-angle-left"></i>
                </button>
                <span>{{ currentPage }} / {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages">
                <i class="pi pi-angle-right"></i>
                </button>
            </div>
        </div>
    </section>
  
    <section class="event-showcase">
      <div class="grid-container">
        <app-kh-event-showcase
          *ngFor="let event of paginatedEvents"
          [event]="event">
        </app-kh-event-showcase>
      </div>
    </section>
  </main>
  

  <div class="panel"
    [class.shown]="showPanel">
    <app-upload-panel (cancel)="panelShow()"></app-upload-panel>
  </div>
