div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        overflow: hidden;
        aspect-ratio: 1;
        border-radius: 100%;
        height: 125px;
    }
}

@media (max-width: 650px) {
    div {
        div {
            height: 100px;
        }
    }
}