main {
    position: relative;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 4em;

    .carousel {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--kh-secondary-color);
    }

    .activeExhibitionBanner {
      padding: .275rem .75rem;
      background-color: rgba(48, 235, 35, 0.354);
      border-radius: 30px;
      color: #2FC425;
      font-size: 1rem;
      font-weight:600;
      border: 2px solid rgba(48, 196, 37, 0.54);

    }

    .buttonGroup {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1em;
    }

    .button {
      cursor: pointer;
      padding: 1rem 2rem;
      background-color: rgba(204, 204, 204, 0.25);
      border: 2px solid rgba(204, 204, 204, 0.75);
      color: #1d1d1f;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30rem;
      font-weight: bold;
      gap: .5em;
      transition: .5s ease-in-out;
      backface-visibility: hidden;
      i {
        color: inherit;
        font-weight: bold;
      }

    
    }

    .button:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      
    }
    
    #blue {
      background-color: rgba(50, 94, 255, 0.40);
      border-color: rgba(50, 94, 255, 0.40);
      color: rgba(50, 94, 255, 0.80);
      
    }
        

    .info {
        width: 100%;

        h1 {
            font-size: 48px;
        }

        h5 {
          font-style: 1.5rem;
          opacity: .8;
          text-decoration: underline;
        }

        .intresse {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                color: #c7c7c7;
            }

            button {
                border-radius: 16px;
                padding: 0 10px;
                color: #fff;
                background-color: var(--kh-primary-color);
            }
        }
    }

    .qrScannerIcon {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: orange;
        color: #fff;
        border-radius: 999px;
        width: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        cursor: pointer;
    }
    .qrScannerIcon i {
        font-size: 1.5rem;
    }

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
      }

      
      
      .lightbox-content {
        background: white;
        border-radius: 12px;
        text-align: center;
        width: 80%;
        height: 80%;
        overflow: auto;
        animation: fadeIn 0.3s ease;
        position: relative;
        overflow: hidden;
      
        
       h1 {
        position: absolute;
        top: .5rem;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 2rem;
      }

       .window {
        margin-top: 5rem;
       }

       .scanner-container {
        width: 100%;
        position: relative;
        background: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
      
    }

      

      ngx-scanner-qrcode {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .scan-frame-Barrier {
        background-color: red;
      }

     
      .skeleton-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: shimmer 1s infinite;
        border-radius: 8px;
      }


       .close-btn {
          position: absolute;
          top: 1rem;
          right: 1rem;
          background-color: #ccc;
          color: white;
          border: none;
          border-radius: 999px;
          aspect-ratio: 1/1;
           width: 3rem;
           display: flex;
           align-items: center;
           justify-content: center;    
          cursor: pointer;
          transition: .2s ease-in-out;

          i {
            font-size: 1.3rem !important;
        }
          
          &:hover {
            filter: brightness(1.01);
          }
        }
      }

}

.scan-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transform: translate(-50%, -50%);
    height: 10%; /* Default height, will be adjusted dynamically */
    animation: scan-pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  
  @keyframes scan-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Optional: Custom styles for when QR code is detected */
  .qrcode-polygon {
    outline: 2px solid red; /* To visualize the QR code polygon */
  }
  
  /* Skeleton loader for ngx-scanner-qrcode loading state */
  ngx-scanner-qrcode.loading {
    opacity: 0;
    height: 0;
  }
  
  /* Tooltip styles for QR code results */
  .tooltipSCanner {
    position: absolute;
    top: 2em;
    padding: .2em .5em;
    border-radius: 8px;
    background-color: #1d1d1f;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  ngx-scanner-qrcode.loading {
    opacity: 0;
    height: 0;
  }
  @keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  