<div id="content">
<div id="card">
    <div id="textContainer">
        <strong>ID: #23123</strong>
        <h1>Konstverkets namn</h1>
        <h2>Konstverkesbeskrivning</h2>
        <p id="beskrivning">Tornedalens konsthall bjuder in till en unik utställning där konst, kultur och natur möts i ett tidlöst uttryck. Här blandas samtida verk med traditionella influenser, i en visuell resa genom Tornedalens själ. Precis som ett typografiskt provark från 1500-talet... mer</p>
        <h2>Betygsätt (1/5)</h2>
        <div id="stars">
            <i class="pi pi-star"></i>
            <i class="pi pi-star"></i>
            <i class="pi pi-star"></i>
            <i class="pi pi-star"></i>
            <i class="pi pi-star"></i>
        </div>
        <h2>Anteckningar & Recension</h2>
        <textarea style="background-color: white;"></textarea>
    </div>
    <div id="imgContainer" style="background-color: black; height: 200px; width: 200px;">
        <img src="" alt="">
    </div>
</div>
</div>
    