#content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#card{
    justify-content: space-between;
    background-color: #F5F5F2;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(211, 210, 210);
}
#textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40vw;
}
#stars{
    margin-top: -10px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    display: flex;

    justify-content: space-between;
    align-items: center;
    width:150px;
    border: solid 3px rgba(255, 255, 0, 0.589);
    padding: 5px;
    border-radius: 10px;
}
#s5:hover{
    background-color: black;
}
#s4:hover{
    background-color: black;
}
#s3:hover{
    background-color: black;
}
#s2:hover{
    background-color: black;
}
#s1:hover{
    background-color: black;
}

#s4:hover + #s5{
    background-color: black;
}
#s3:hover + #s4{
    background-color: black;
}
#s3:hover ~ #s5{
    background-color: black;
}


#s2:hover + #s3{
    background-color: black;
}
#s2:hover ~ #s5{
    background-color: black;
}
#s2:hover ~ #s4{
    background-color: black;
}

#s1:hover + #s2{
    background-color: black;
}
#s1:hover ~ #s5{
    background-color: black;
}
#s1:hover ~ #s3{
    background-color: black;
}
#s1:hover ~ #s4{
    background-color: black;
}



h2{
    font-weight: 300;
    color: darkgrey;
    font-size: 1rem;
    margin-bottom: 10px;
}
#beskrivning{
    max-width: 400px;
    margin-bottom: 20px;
}
#imgContainer{
    margin-right: 100px;
    align-self: center;
}
textarea{
    resize: none;
    height: 150px;
}