<div class="liveExhitiionContainer" *ngIf="isWidgetOpened">
    <div class="head">
        <div>
            Pågående utställning
        </div>
        <span (click)="CloseWidget()">
            <i class="pi pi-times"></i>
        </span>
    </div>
    <div class="bodyContent">
        <h1>{{ liveExhibition.exhibition_name }}</h1>
        <h5>{{ dateStr }}</h5>
        <div class="img" [style.backgroundImage]="'url(http://localhost:8080' + (liveExhibition.photos[0].art_link || '/assets/default.jpg') + ')'"></div>
        
        <a class="connectButton" [href]="'/exhibition/' + liveExhibition.exhibition_id">
            <span>Anslut</span>
            <i class="pi pi-chevron-right"></i>
        </a>
    </div>
</div>
