<a class="event-card" [routerLink]="['/exhibition', exhibition.exhibition_id]">
    <div class="info">
        <div class="background" [style.backgroundImage]="'url(http://localhost:8080' + (exhibition.photos[0].art_link || '/assets/default.jpg') + ')'"></div>
        <div class="title">
            <h2>{{ exhibition.exhibition_name }}</h2>
            <p>{{ exhibition.artist.artist_name }}</p>
        </div>
        <svg width="217" height="250" viewBox="0 0 217 250" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M209.788 6.92923C214.262 159.111 72.1014 235.572 0.461564 254.779L188.66 470.99L375.071 258.016C318.112 110.911 205.313 -145.253 209.788 6.92923Z" fill="#F0A05A"/> </svg>
        <h2 class="date">
            {{ exhibition.exhibition_date_start | date:'dd/MM' }}
          </h2>
        <div class="theme">
            <p>Tornedalen</p>
        </div>
    </div>
</a>
