.card {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F2;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(211, 210, 210);
    height: fit-content;
    gap: 20px;

    .left {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        justify-content: space-between;
        width: 100%;

        .stars {
            display: flex;
            width: fit-content;
            gap: 5px;
            border-radius: 12px;
          }
          
          .pi {
            font-size: 22px;
            color: #e0e0e0;
            cursor: pointer;
            transition: color 0.2s ease, text-shadow 0.2s ease;
          }
        
          .pi-star-fill {
            color: gold;
            text-shadow: gold 0px 0px 2px;
          }

        label {
            color: #a3a3a3;
            font-size: 0.8rem;
        }
    }

    .img-container {
        height: 400px;
        aspect-ratio: 1;
        border: solid 1px rgb(211, 210, 210);
        border-radius: 10px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
    }

    .review-box {
        width: 50%;
        padding: 10px;
        border: solid 1px rgb(211, 210, 210);
        border-radius: 10px;
        min-height: 150px;
        background-color: #fff;
    }
}

@media (max-width: 1300px) {
  .left .review-box {
    width: 80%;
  }
}

@media (max-width: 1000px){
  .card {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left .review-box {
    width: 100%;
  }
}