.headerWrapper {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: #c7c7c7 0px 0px 3px 0px;

  header {
    display: flex;
    margin: 0 var(--header-footer-margin);
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .logoWrapper {
      h2 {
        font-size: 24px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
      }
    }

    nav {
      display: inline-flex;
      gap: 20px;
      font-size: 16px;

      a {
        text-decoration: none;
        color: #000;

        &:hover, &.active {
          color: var(--kh-primary-color);
        }
      }
    }

    .profileButtons {
      display: inline-flex;
      gap: 20px;
      height: 75%;
      align-items: center;

      .extra {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
      }

      .profile {
        height: 100%;
        aspect-ratio: 1 / 1;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .profileButton {
        width: 40px;
        height: 40px; 
        border-radius: 50%; 
        border: 1px solid var(--kh-light-border-color);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .user-pfp {
          width: 120%;
          height: 120%;
          object-fit: cover; /* Ensure image covers the circle */
        }
      }
    }
  }
}
