<div class="headerWrapper" *transloco="let t">
    <header>
        <div class="logoWrapper">
            <h2><a [routerLink]="homeLink">Konsthall Tornedalen</a></h2>
        </div>
        <nav>
            <a [routerLink]="exploreLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ t('explore') }}</a>
            <a [routerLink]="eventLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ t('events') }}</a>
            <a [routerLink]="utstallLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ t('exhibitions') }}</a>
            <a [routerLink]="forumLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ t('forum') }}</a>
        </nav>
        <div class="profileButtons">
            <div class="extra">
                <div class="profileButton">
                    <i class="pi pi-bell" style="font-size: 22.5px"></i>
                </div>
                <div class="profileButton">
                    <i class="pi pi-comment" style="font-size: 22.5px"></i>
                </div>
                <div class="profileButton">
                    <button class="language" (click)="testLanguageSwitch()">
                        <i class="pi pi-globe"></i>
                    </button>
                </div>
                <span class="language-text">{{ currentLanguage }}</span>
            </div>
            <div class="profile">
                <app-profile-dropdown class="dropdown"></app-profile-dropdown>
                <p>{{ userName }}</p>
                <div class="profileButton">
                    <img *ngIf="userPfp" [src]="userPfp" alt="User Profile Picture" class="user-pfp"/>
                    <i class="pi pi-angle-down"></i>
                </div>
            </div>
        </div>
    </header>
</div>