<div class="headerWrapper">
    <header>
        <div class="logoWrapper">
            <h2><a [routerLink]="homeLink">Konsthall Tornedalen</a></h2>
        </div>
        <nav>
            <a [routerLink]="exploreLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utforska</a>
            <a [routerLink]="eventLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Evenemang</a>
            <a [routerLink]="utstallLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utställningar</a>
            <a [routerLink]="forumLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Forum</a>
        </nav>
        <div class="profileButtons">
            <div class="extra">
                <div class="profileButton"></div>
                <div class="profileButton"></div>
            </div>
            <div class="profile">

                <app-profile-dropdown class="dropdown"></app-profile-dropdown>

                <p>{{ userName }}</p>
                <div class="profileButton">
                    <img *ngIf="userPfp" [src]="userPfp" alt="User Profile Picture" class="user-pfp"/>
                </div>
            </div>
        </div>
    </header>
</div>