.infoBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#ProfileImg{
    overflow: hidden;
    img{
        justify-self: center;
        height: 100%;
        width: 100%;
    }
}
.pi-pencil:hover{
    cursor: pointer;
   
    
}
#noPreviousVisitsText{
    align-self: center;
    margin-top: 50px;
}

#backgroundGradient{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 2vw;
    height: 100%;
    background: rgb(255,238,180);
    background: linear-gradient(0deg, rgba(255,238,180,0.1912045889101338) 21%, rgba(50,95,255,0.07) 49%);
    border: 20px solid #fff;
    i{
        padding-top: 20px;
        padding-right: 20px;
    }
}
#profileContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: flex-start;
}
#activeStatus{
    width: 20px;
    height: 20px;
    background-color: #6AB589;
    border-radius: 100%;
    margin-top: 175px;
    margin-left: -25px;
    margin-right: 3vw;
}
#text{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
#ProfileImg{
    margin-top: 10px;
    height: 175px;
    width: 175px;
    background-color: lightgrey;
    border-radius: 100%;
}
#name{
    font-size: 3rem;
    font-weight: 700;
}
#profilText{
    margin-top: 3vh;
    margin-bottom: -1.1vh;
    color: #636363;
}
#om{
    color: #636363;
}
#omText{
    font-weight: 700;
    width: 80%;
    line-height: 140%;
}
hr{
    margin-top: 4vh;
    width: 95%;
    align-self: center;
}
#cog{
    align-self: flex-start;
    margin-left: calc(50vw - 11%);
    margin-top: 0.5vh;
}
#profileActivityContainer{
    display: none;
}
#omContent{
    display: none;
}

#buttonMenu{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: flex-start;
    #buttonA{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background-color: #cccccc40;
        border-radius: 50px;
        border: solid 1px transparent;
        border-color: #cccccc75;
    }
    #buttonP{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border-radius: 50px;
        border-radius: 50px;
        border: solid 1px transparent;
    }
    #buttonO{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border-radius: 50px;
        border-radius: 50px;
        border: solid 1px transparent;
    }
}


@media (max-width: 768px){

#backgroundGradient{
    border: 0px;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 0%;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background: rgb(255,238,180);
    background: linear-gradient(0deg, rgba(255,238,180,0.1912045889101338) 21%, rgba(50,95,255,0.07) 49%);
    i{
        padding-top: 20px;
        padding-right: 20px;
    }
}
#cog {
    position: absolute;
    margin-top: -290px;
    margin-left: 85%;
}
#profilText{
    margin-top: 20px;
    margin-bottom: -7px;
    font-size: 0.9rem;
}
#text{
    width: 90%;
}
#name{
    font-size: 1.5rem;
}
#om{
    font-size: 0.9rem;
    margin-top: 5px;
}
#omText{
    font-size: 0.75rem;
}
#activeStatus{
    margin: 0;
    margin-left: 150px;
    margin-top: -20px;
}
#profileContainer{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#ProfileImg{
    height: 175px;
    width: 175px;
    background-color: lightgrey;
    border-radius: 100%;
}
#buttonMenu{
    display: flex;
    font-size: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    #buttonA{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        /*background-color: #cccccc40;*/
        border-radius: 50px;
        border: solid 1px transparent;
        /*border-color: #cccccc75;*/
    }
    #buttonP{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border-radius: 50px;
        margin-left: 2vw;
        /*background-color: #cccccc40;*/
        border-radius: 50px;
        border: solid 1px transparent;
        /*border-color: #cccccc75;*/
    }
    #buttonO{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border-radius: 50px;
        margin-left: 2vw;
        /*background-color: #cccccc40;*/
        border-radius: 50px;
        border: solid 1px transparent;
        /*border-color: #cccccc75;*/
    }
  
}

label{
    text-decoration: underline;
}
.buttonA-custom:hover{
    text-decoration: white;
}
.infoBlock{
        width: 90%;
}
}
#profileActivityContainer{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.navToExhibition:hover{
    cursor: pointer;
    background-color: rgb(247, 246, 246);
}
.navToExhibition{
    
    margin-top: 2rem;
    height: 65px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000025;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    table{
        margin-left: 20px;
        text-align: start;
    }
    .infoText{
        font-weight: 600;
    }
    i{
        z-index: 1;
    }
  

}
#omContent{
    width: 100%;
    height: 20%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .about{
        width: 90%;
    }
    .infoValue{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        color: #B9B9B9;
        background-color: white;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #B9B9B9;

    }
    i{
        margin-top: -20px;
        margin-right: -10px;
    }
    .header{
        margin-top: 30px;
        margin-left: 15px;
    }
}
#aktivitetsContainer{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.aktivitet{
    margin-top: 2rem;
    height: 65px;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000025;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pi{
        margin-top: -20px;
    }
    p{
        margin-left: 20px;
        font-size: 1.2rem;
        font-weight: 400;
    }
   
}
@media (min-width: 768px){

    #aktivitetsContainer{
        align-items: flex-start;
        margin-left: 3%;
    }
    .aktivitet{
        width: 90%;
    }
    #profileActivityContainer{
        align-items: flex-start;
        margin-left: 3%;
    }
    .infoBlock{
        width: 90%;
    }
    #omContent{
        align-items: flex-start;
        margin-left: 3%;
    }
    #buttonMenu{
        margin-left: 3%;
    }
    #profileContainer{
        margin-left: 3%;
    }


}
