<div id= "backgroundGradient">

    <div id="profileContainer">
        <div id="ProfileImg"><!--Profilbild som hämtas från objektet user-->
            <img src="{{this.user.user_pfp}}" alt="Profilbild">
        </div>
        <div id="activeStatus"></div>
            <div id="text">
                <p id="profilText">Profil</p>
                <p id="name">{{this.user.first_name}}</p> 
                <p id="om">{{this.user.user_description}}</p>
                <p id="omText">Jag är från piteå och gillar konstverk och systembolaget med många bra saker som bord och stolar med gym och laddre till dator</p>
             </div>
   </div>
   <hr>
   <!--Knappmenyn.  Vid klick på en knapp körs metoderna efte (onClick)-->
   <div id="buttonMenu" [style]="{marginTop:'10px'}">
       <p-button id = "buttonA" label="Aktivitet" (onClick)="aktivitetButton()"[style]="{backgroundColor: 'transparent', color: 'black', fontSize: '2em', border: 'none', borderRadius: '50px', paddingBottom:'1px', padding:'3px'}"/>
       <p-button id = "buttonP" label="Besök" (onClick)="profileButton()" [style]="{backgroundColor: 'transparent', color: 'black', fontSize: '2em', border: 'none', borderRadius: '50px', paddingBottom:'1px', padding:'3px', textDecoration: 'none'} "/>
       <p-button id = "buttonO" label="Om" (onClick)="omButton()" [style]="{backgroundColor: 'transparent', color: 'black', fontSize: '2em', border: 'none', borderRadius: '50px', paddingBottom:'1px', padding:'3px', textDecoration: 'none'}"/>
   </div>
   <div id="aktivitetsContainer">
       <div class="aktivitet">
           <p>Gillade Konstverket</p>
           <i class="pi pi-heart" style="font-size: 2em"></i>
       </div>
       <div class="aktivitet">
        <p>Anmälde till event</p>
        <i class="pi pi-calendar" style="font-size: 2em"></i>
    </div>
    <div class="aktivitet">
        <p>Kommenterade</p>
        <i class="pi pi-comment" style="font-size: 2em"></i>
    </div>
    <div class="aktivitet">
        <p>Meddelande</p>
        <i class="pi pi-envelope" style="font-size: 2em"></i>
    </div>
    
   </div>
   <div id="profileActivityContainer"><!--För varje utställning som användaren har besökt ska den göra en av div:en under och hämta namnet och datumet för utställningen-->
       <div class="infoBlock" *ngFor="let item of this.eventsVisited">
           <div class="navToExhibition" (click)="navigateToExhbition(item.exhibition_id)">
            <P class="infoText">{{item.exhibition_name}}</P>
           <div class="stats">
            <p class="date">{{item.visited_date}}</p>
           </div>
            </div>
       </div>
   </div>
   <div id="omContent">
    <div class="about">
        <p class="header">Förnamn</p>
        <div class="infoValue">
            <p>{{this.user.first_name}}</p><!--Vid klick på symbolen som visar en penna ska metoden showDialog() köras. Beroende på vilken penna användaren klickar på skickas olika siffror med, för att metoden ska veta vad som ska ändras-->
            <i class="pi pi-pencil" (click)="showDialog(1)" [style]="{color: 'black'}"></i>
        </div>
    </div>
    <div class="about">
        <p class="header">Efternamn</p>
        <div class="infoValue">
            <p>{{this.user.last_name}}</p>
            <i class="pi pi-pencil" (click)="showDialog(2)" [style]="{color: 'black'}"></i>
        </div>
    </div>
    <div class="about">
        <p class="header">E-post</p>
        <div class="infoValue">
            <p>{{this.user.email}}</p>
            <i class="pi pi-pencil" (click)="showDialog(3)" [style]="{color: 'black'}"></i>
        </div>
    </div>
    <div class="about">
        <p class="header">Om</p>
        <div class="infoValue">
            <p>{{this.user.user_description}}</p>
            <i class="pi pi-pencil" (click)="showDialog(4)" [style]="{color: 'black'}"></i>
        </div>
    </div>
    <!--Dialogen som visas när användaren klickar på en penna för redigera fältet. Beroende på vilken penna som klickas på, visas olika dialoger-->
    <p-dialog header="Redigera Informaiton" [modal]="true" [(visible)]="visible1" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Uppdatera ditt Förnamn</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="first_name" class="font-semibold w-24" [style]="{textDecoration: 'none', fontWeight: '800'}">Nytt förnamn:</label>
            <input pInputText id="first_name" class="flex-auto" autocomplete="off"/>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible1 = false" />
            <p-button label="Save" (click)="visible1 = false;sendEdit('first_name')"/>
        </div>
    </p-dialog>

    <p-dialog header="Redigera Informaiton" [modal]="true" [(visible)]="visible2" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Uppdatera ditt efternamn</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="last_name" class="font-semibold w-24" [style]="{textDecoration: 'none', fontWeight: '800'}">Nytt efternamn:</label>
            <input pInputText id="last_name" class="flex-auto" autocomplete="off"/>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible2 = false" />
            <p-button label="Save" (click)="visible2 = false;sendEdit('last_name')"/>
        </div>
    </p-dialog>

    <p-dialog header="Redigera Informaiton" [modal]="true" [(visible)]="visible3" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Uppdatera din e-post</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="email" class="font-semibold w-24" [style]="{textDecoration: 'none', fontWeight: '800'}">Ny e-post:</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off"/>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible3 = false" />
            <p-button label="Save" (click)="visible3 = false;sendEdit('email')"/>
        </div>
    </p-dialog>

    <p-dialog header="Redigera Informaiton" [modal]="true" [(visible)]="visible4" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Uppdatera din beskrivning</span>
        <div class="flex items-center gap-4 mb-4">
            <label for="user_description" class="font-semibold w-24" [style]="{textDecoration: 'none', fontWeight: '800'}">Ny beskrivning:</label>
            <input pInputText id="user_description" class="flex-auto" autocomplete="off"/>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible4 = false" />
            <p-button label="Save" (click)="visible4 = false;sendEdit('user_description')"/>
        </div>
    </p-dialog>
</div>
</div>

