.loginWrapper {
  --b: #2a63f0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(-1*var(--header-height)));
  
  .loginInner {
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginLogga {
    font-size: 40px;
    font-weight: bold;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #0b1120;
    border-radius: 2px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inputTest {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #f9f9f9;
    padding-block: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 35px 25px 25px 22.5px;
    transition: .3s ease-in-out;    
  }

  .p-floatlabel-in .p-inputtext  {}  /* kasnke ta bort */ 

  .p-floatlabel label {
    transform: translateX(12.5px) translateY(-50%);
    opacity: .6;
  }
  .p-floatlabel-in:has(input:focus) label,
  .p-floatlabel-in:has(input.p-filled) label{
    color: inherit;
    top: 1rem;
  }

  .p-inputtext:enabled:focus {
    outline: 2px solid #dae5ff;
    filter: brightness(1.05);
  }

  .p-inputtext:user-valid {
    background-color: #dae5ff !important;
    filter: brightness(1.05);

  }
  

  .inputContainer {
    width: 100%;

    .inputInner {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .p-float-label {
      width: 100%;

      input {
        width: 100%;
        height: 50px;
        border-radius:20px;
        background-color: #f9f9f9;
        padding: 0 20px;
        border: 1px solid #ccc;
        font-size: 16px;
        transition: .3s ease-in-out;
      }

      input:first-of-type {
        margin-bottom: 1em;
      }

      label {
        margin-left: 20px;
        font-size: 14px;
        color: #555;
      }
    }
  }

  input:user-invalid  {
    border-color: rgb(230, 32, 32) !important;
  }

  .glömtLössen {
    color: var(--b);
    text-align: right;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
  }

  .loginBtn {
    margin-top: 1em;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: #eef3ff;
    border: 1px solid var(--b);
    color: var(--b);
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease-in-out;
  }
  .loginBtn:disabled {
    cursor: default;
    opacity: .3;
  }

  .skapaKontoText {
    margin-top: 20px;
    font-size: 16px;

    .skapaKontoLänk {
      color: var(--b);
      cursor: pointer;
      text-decoration: none;
    }
  }
}
