<div class="body">
  <h2 class="logginLogga">Konsthall Tornedalen</h2>

  <div class="khLogin">
    <span class="p-float-label">
      <input pInputText id="email" placeholder="Epost" [(ngModel)]="email" />
    </span>
  </div>

  <div class="khLogin">
    <span class="p-float-label">
      <input pInputText id="password" type="password" placeholder="Lössenord" [(ngModel)]="password" />
    </span>
  </div>

  <a class="glömtLössen">Glömt lösenord?</a>

  <button pButton class="loginBtn" label="Logga in" (click)="login()"></button>

  <p class="skapaKontoText">
    Har du inget konto? <a class="skapaKontoLänk">Skapa konto</a>
  </p>
</div>
