<div class="loginWrapper">
  <div class="loginInner">
    <h2 class="loginLogga">Konsthall Tornedalen</h2>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" method="post">
      
      <div class="inputContainer">

     <div class="inputInner">

      <div class="inputContainer">
        <p-floatlabel variant="in">
          <input
            pInputText
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailRef="ngModel"
            type="email"
            required
            class="inputTest"
            email
          />
          <label for="email">E-postadress</label>
        </p-floatlabel>
      
        <div *ngIf="emailRef.invalid && emailRef.dirty" class="errorText">
          <small *ngIf="emailRef.errors?.['required']">E-post krävs</small>
          <small *ngIf="emailRef.errors?.['email']">Ogiltig e-post</small>
        </div>
      </div>
      
      <div class="inputContainer">
        <p-floatlabel variant="in">
          <input
          pInputText
          [(ngModel)]="password"
          id="password"
          name="password"          
          [(ngModel)]="password"
          type="password"
          #passwordRef="ngModel"
          required
          class="inputTest"
          />
          <label for="password">Lösenord</label>
        </p-floatlabel>
        <div *ngIf="passwordRef.invalid && passwordRef.dirty" class="inputError">
          <small>
              Lösenord krävs
          </small>   
       </div>
      </div>
    </div>
      
      <!-- <a class="glömtLössen">Glömt lösenord?</a> -->
      
      <button type="submit" class="loginBtn" [disabled]="loginForm.invalid">Logga in</button>
    </div> 
    </form>

    <p class="skapaKontoText">Har du inget konto? <a class="skapaKontoLänk" href="/signup">Skapa konto</a></p>
  </div>
</div>
